.table{
    padding: 50px 200px 0px 200px;
    margin: 0 auto;
    
}

h2{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid white;
    padding: 8px;
}

table tr:nth-child(even){background-color: #232d53;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #192a4d;
    
  }

  small a{
      color: rgb(187, 0, 0);
  }

  small a:hover{
      color: rgb(126, 0, 0);
  }