
.sales-section {
    background: #14213d;
    color: white;
    padding-top: 0;
    font-size: 1em;
}

.sales-section{
  display: flex;
  flex-direction: column;
}

.planet-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 15% 0px 15%;
  
}



.product{
  background: #192a4d;
  padding: 70px;
  border-radius: 50px;
  max-width: 220px;
  margin:0px 10px 80px 10px;
  max-height: 1000px;
}

.product-img img{
  max-width: 220px;
  width: 100%;
  justify-content: center;
}
/*
.product-img img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: zoom-in;

}
*/
.product-ref, .stock, .stock-title {
    font-weight: lighter;
    font-size: small;
    margin-top: 0px;
    height: 100%;
}

.stock-containner {
    display: flex;
}

.product-detail {
    margin-bottom: 0px;
}

.product-name {
    text-align: center;
}


.product-body{
  position: relative;
  bottom: 0;
}


.product-header{
  display: flex;
  flex-direction: column;
}

.product-cta, #stock-btn {
    background-color: rgba(7,168,252,1);
    cursor: pointer;
    border-radius: 20px;
    width: 10em;
    height: 5em;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

#stock-btn {
    display: block;
    margin: auto;
}

.product-cta:hover, #stock-btn:hover {
    opacity: 0.8;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-containner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-containner button {
    background-color: rgba(7,168,252,1);
    border: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.SHOP{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .shop-section-title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  