.sidebar{
    background-color:#192a4d ;
    padding-top: 170px;
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
    transition: 0.3s; 
    top: 0;  
}

.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background-color;
    margin-left: 0px;
    transition: margin-left 0.3s;
}

.sidebar a:hover{
    background-color:#1f345e;
}

.sidebar i{
    padding-right: 5px;
}

label #sidebar-btn{
    z-index: 1;
    font-size: 30px;
    display: block;
    margin-left: 0 px;
    padding-left: 108px;
    cursor: pointer;
    box-sizing: border-box;
}

#sidebar-burger:checked ~ .sidebar{
    left : -100px;
    transition: 0.3s;
}

#sidebar-burger:checked ~ .sidebar a span{
    opacity: 0;
    transition: opacity 1s;
    
    font-size: 0;
    
}

#sidebar-burger:checked ~ .sidebar a{
   margin-left: 100px;
   transition: margin-left 0.3s;
   width: 50px;
   height: 60px;
}

#sidebar-burger:checked ~ #sidebar-btn {
  margin-left: 100px;
}

.sidebar a span{
    opacity: 1;
    transition: 1s;
    transition-property: opacity;
}

#sidebar-burger, #checkbasket{
    display: none;
}

.bot{
  margin-top: 50px;
}

.top{
  padding-top: 20px;
}


.label-cart{
  margin: 0;
  padding: 5px 12px 5px 12px;
  background-color: #232D53;
  border-radius: inherit;
  cursor: pointer;
}

.label-cart:hover{
  background: none;
}

.cart-bar{
  
  background-color: wheat;
  position: sticky;
  right: 0;
  top: 0;
  padding-top: 170px;
}

.corps{
  position: absolute;
}

/* */

.navbar{
    background: #232D53;
    padding: 1em; 
}


.navbar div div a{
  color: white;
  text-decoration: none;
}

.navbar>.container>.logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  
}
.logo{
  text-decoration: none;
}
.logo>span {
  background: var(--primary-color);
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
logo img{
  vertical-align:middle
}

nav {
    display: none;
}

.navbar>.container {
    display: flex;
    place-content: space-between;
  align-items: center;
}

.logoC{
  text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  display: flex;
   align-items:center;
    
  
}

